<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.airplane.mapper.PlaneMapper">
	<resultMap id="planeMap" type="com.airplane.plane.Plane">
		<id property="id" column="id" />
		<result property="original_id" column="original_id" />
		<result property="plane_time" column="plane_time" jdbcType="TIMESTAMP" />
		<result property="departure_id" column="departure_id" />
		<result property="destination_id" column="destination_id" />
		<result property="economy_seat" column="economy_seat"/>
		<result property="business_seat" column="business_seat"/>
		<result property="first_seat" column="first_seat"/>
		<result property="price" column="price"/>
	</resultMap>
	<resultMap id="planeOriginalMap" type="com.airplane.plane.PlaneOriginal">
		<id property="id" column="id" />
		<result property="economy_seat" column="economy_seat"/>
		<result property="business_seat" column="business_seat"/>
		<result property="first_seat" column="first_seat"/>
	</resultMap>

	<insert id="insertOriginal" parameterType="com.airplane.plane.PlaneOriginal"
			useGeneratedKeys="true">
		INSERT INTO plane_original
			(economy_seat, business_seat, first_seat)
			VALUES (#{economy_seat}, #{business_seat}, #{first_seat})
	</insert>

	<insert id="insertReservation" parameterType="com.airplane.plane.PlaneReservation"
			useGeneratedKeys="true">
		INSERT INTO plane_reservation
			(original_id, plane_time, departure_id, destination_id, price)
			VALUES (#{original_id}, #{plane_time}, #{departure_id}, #{destination_id}, #{price})
	</insert>
	
	<select id="selectReservationToTimeLate" resultType="com.airplane.plane.Plane" resultMap="planeMap">
		SELECT *
		FROM plane_reservation
		WHERE plane_time > #{plane_time}
  		AND DATE_ADD(DATE(#{plane_time}), INTERVAL 1 DAY) > plane_time
  		AND departure_id = #{departure_id}
  		AND destination_id = #{destination_id}
	</select>
	
	<select id="selectPlane" resultType="com.airplane.plane.Plane" resultMap="planeMap">
		SELECT * FROM plane_reservation WHERE id = #{id}
	</select>
	
	<select id="selectOriginal" resultType="com.airplane.plane.PlaneOriginal" resultMap="planeOriginalMap">
		SELECT * FROM plane_original WHERE id = #{id}
	</select>
	
	<update id="planeFirstSeatUpdate" parameterType="com.airplane.plane.PlaneSeatUpdate" useGeneratedKeys="true" keyProperty="id">
	 UPDATE plane_reservation SET first_seat = first_seat + #{count} WHERE id = #{id}
	</update>
	
	<update id="planeBusinessSeatUpdate" parameterType="com.airplane.plane.PlaneSeatUpdate" useGeneratedKeys="true" keyProperty="id">
	 UPDATE plane_reservation SET business_seat = business_seat + #{count} WHERE id = #{id}
	</update>
	
	<update id="planeEconomySeatUpdate" parameterType="com.airplane.plane.PlaneSeatUpdate" useGeneratedKeys="true" keyProperty="id">
	 UPDATE plane_reservation SET economy_seat = economy_seat + #{count} WHERE id = #{id}
	</update>
	
	<select id="selectReservationToTimeLateNow" resultType="com.airplane.plane.Plane" resultMap="planeMap">
		SELECT *
		FROM plane_reservation
  		WHERE plane_time > NOW()
  		ORDER BY plane_time ASC
	</select>
</mapper>
  
  