<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.example.mysite.user.mapper.RefundUserMapper">

	<insert id="refundInsert"
		parameterType="com.example.mysite.user.RefundUserDto"
		useGeneratedKeys="true">
		INSERT INTO seat (user_id, reservation_id, gender,
		depart, arrive, seat)
		VALUES (#{userId}, #{reservation_id}, #{gender},
		#{depart}, #{arrive}, #{seat});
	</insert>

	<select id="RefundselectOne"
		resultType="com.example.mysite.user.RefundUser">
		SELECT * FROM seat WHERE user_Id = #{userId}
	</select>

	<select id="findByUserId"
		resultType="com.example.mysite.user.RefundUser">
		SELECT * FROM seat WHERE user_Id= #{userId}
	</select>

	<delete id="deleteUserByUserId" parameterType="int">
		DELETE FROM seat
		WHERE user_Id = #{userId}
	</delete>

	<select id="seatName" resultType="String" parameterType="int">
		SELECT
		seat FROM seat WHERE reservation_id = #{rid}
	</select>
	
	<insert id="insertDamage" parameterType="com.example.mysite.user.DamageDto">
		INSERT INTO damage (user_id, path)
		VALUES (#{id}, #{savepath})
	</insert>

</mapper>