<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.example.mysite.user.mapper.RefundUserMapper">

	<insert id="refundInsert"
		parameterType="com.example.mysite.user.RefundUserDto"
		useGeneratedKeys="true">
		INSERT INTO seat (name, gender, depart, arrive, seat, class)
		VALUES (#{name}, #{gender}, #{depart}, #{arrive}, #{seat}, #{f_class});
	</insert>

	<select id="RefundselectOne"
		resultType="com.example.mysite.user.RefundUser">
		SELECT * FROM seat WHERE name = #{name}
	</select>

	<select id="findByName"
		resultType="com.example.mysite.user.RefundUser">
		SELECT * FROM seat WHERE name= #{name}
	</select>

	<delete id="deleteUserByName" parameterType="String">
		DELETE FROM seat
		WHERE name = #{name}
	</delete>
</mapper>