<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.airplane.user.mapper.UserMapper">
	<resultMap id="userMap" type="com.airplane.user.User">
		<id property="userId" column="user_id" />
		<result property="id" column="id" />
		<result property="password" column="password" />
		<result property="name" column="name"/>
		<result property="gender" column="gender" />
		<result property="age" column="age"/>
		<result property="phoneNumber" column="phoneNumber"/>
		<result property="registerDate" column="register_date" jdbcType="TIMESTAMP" />
	</resultMap>

	<insert id="insertUser" parameterType="com.airplane.user.UserDto"
			useGeneratedKeys="true" keyProperty="userId">
		INSERT INTO users
			(id, password, name, gender, age, phoneNumber)
			VALUES (#{id}, #{password}, #{name}, #{gender}, #{age}, #{phoneNumber})
	</insert>
	
	<select id="selectUser" resultType="com.airplane.user.User" resultMap="userMap">
		SELECT * FROM users WHERE id = #{id} AND password = #{password}
	</select>
	
	<select id="idsearch" resultType="com.airplane.user.User" resultMap="userMap">
		SELECT * FROM users WHERE id = #{id} 
	</select>
	
	
	
</mapper>
  
  